[Desktop Entry]
Name=LoRa APRS RX Start
Exec=/home/pi/dxlAPRS/aprs/start-lora-rx-gui.sh
Icon=/home/pi/dxlAPRS/aprs/www/icon/163.gif
Terminal=false
Type=Application
Categories=APRS
StartupNotify=false
Path=/home/pi/dxlAPRS/aprs/
Name[en_GB]=LoRa APRS RX Start
Name[de_DE]=LoRa APRS RX Start