[Desktop Entry]
Name=APRS Start 70cm
Exec=/home/pi/dxlAPRS/aprs/start-70-gui.sh
Icon=/home/pi/dxlAPRS/aprs/www/icon/163.gif
Terminal=false
Type=Application
Categories=APRS
StartupNotify=false
Path=/home/pi/dxlAPRS/aprs/
Name[en_GB]=APRS Start 70cm
Name[de_DE]=APRS Start 70cm